.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.contact__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: capitalize;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    transition: transform 1s, box-shadow 0.3s;
}

.contact__title:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(75, 54, 59, 0.25),
        0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);

}

.contact__description{
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.contact__btn {
    font-size: var(--size-sm);
}

/*xs*/
@media (min-width:475px){
    .contact {
        gap: 1.5rem;
    }
    
    .contact__title {
        font-size: var(--size-3xl);
    }
    
    .contact__description{
        font-size: var(--size-base);
    }
    
    .contact__btn {
        font-size: var(--size-base);
    }
}

/*sm*/
/* @media (min-width:640px){} */

/*md*/
/* @media (min-width:768px){} */

/*lg*/
@media (min-width:1024px){ 
    .contact__title {
        font-size: var(--size-4xl);
    }
    
    .contact__description{
        font-size: var(--size-lg);
    }
    
    .contact__btn {
        font-size: var(--size-lg);
    }
}

/*xl*/
@media (min-width:1280px){
    .contact {
        gap: 2rem;
    }
    
    .contact__title {
        font-size: var(--size-5xl);
    }
    
    .contact__description{
        font-size: var(--size-xl);
    }
    
    .contact__btn {
        font-size: var(--size-xl);
    }
}

/*2xl*/
/* @media (min-width:1536px){} */
